<div class=" image-container">
    <img class ="" mat-card-image src="../../assets/elearningImgage.jpg" alt="">
    <div class=" overlay-text">
      <div class="heading-container ">
        <span style="color: rgb(9, 9,73)">Our</span>
        <span style="color: rgb(237,81,194);">Placements</span>
    </div>
  
      <div class="container-fluid footer fade-in">
      <div class="row">
          <div class="footer-col animated-text" style="margin-left: 70px;">
            <h1 style="text-align: left;color:rgb(53, 5, 5); font-size: 25px;">E-learning operates with a dedicated placement team, ensuring students receive daily job notifications. <br><br>
  
              To effectively engage with the job search community, students shouldz follow these steps:</h1>
              <h2 style="text-align: left;font-size: 20px;">
                1. Complete at least 50% of the course with an 80% attendance record.
                <br>
                2. Successfully clear skill tests or mid-tests.
                <br>
                3. Participate in mock interview sessions with HR and technical experts.
                <br>
                4. Submit your project.
                <br>
                5. Seek a review from your faculty.
                <br>
                6. Submit your updated CV.
              </h2>
        </div>
  
        <div class="footer-col"  style="scroll-behavior: smooth;">
              <img mat-card-image src="../../assets/employeeImage.jpg" alt="" style="border-radius: 50%;margin-top: 50px;opacity:1">
        </div>          
       </div>
      </div>
      <h1 style="text-align: left;font-size: 20px;">By completing these steps, students enhance their chances of successful placement through MindScripts Tech's resources and support.
      </h1>
    </div>
  </div>
  
      <div class="card-bottom-container">
        <div class="heading-container ">
          <span style="color: rgb(9, 9,73)">Success</span>
          <span style="color: rgb(237,81,194);">Stories</span>
      </div>
        <div class="card-container fade-in" style="margin-top: 50px;">
          <div class="example-card highlight-on-hover">
              <img mat-card-image src="../../assets/pratik.jpeg" style="opacity: 1;border-radius: 50%;margin-bottom: 20px;">
              <div>
                <h1 style="font-size: 30px;">Pratik Nikam</h1>
                <p>
                 Placed in Cognizant..!
                </p>
            </div>
            </div>
      
            <div class="example-card highlight-on-hover">            
              <img mat-card-image src="../../assets/priyanka.jpeg" style="opacity: 1;border-radius: 50%;height: 210px;margin-bottom: 20px;">
              <div>
                <h1 style="font-size: 30px;">Priyanka Patare</h1>
                <p>
                 Placed in Persistent Systems...!
                </p>
            </div>
            </div>
      
            <div class="example-card highlight-on-hover">
              <img mat-card-image src="../../assets/k.jpeg" style="opacity: 1;border-radius: 50%;margin-bottom: 20px;margin-top: 10px;">
              <div>
                <h1 style="font-size: 30px;">Kalyani Patil</h1>
                <p>
                  Placed in Tata Consultancy services...!
                </p>
            </div>
            </div>
            
            <div class="example-card highlight-on-hover">
              <img mat-card-image src="../../assets/U.jpeg" style="opacity: 1;border-radius: 50%;margin-bottom: 20px;margin-top: 10px;height: 200px ;">
              <div>
                <h1 style="font-size: 30px;">Umesh Pawar</h1>
                <p>
                  Placed in Accenture...!            
               </p>
            </div>
            </div>  
      </div> 
      </div>
  <!-- <app-footer></app-footer> -->
  <!-- <c-carousel>
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          [src]="slide.src"
          alt="{{ slide.title }}"
          class="d-block w-100"
          loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel> -->