<div class="image-container">
    <img mat-card-image src="../../assets/elearningImgage.jpg" alt="">
    <div class="overlay-text">
        <div class="heading-container">
            <span class="test1" style=" color: rgb(9, 9, 73);">FAQs</span>
        </div><br><br>
        <div class="text2" style=" font-size: 20px;">

            <h1 style=" font-size: 20px;">1) What courses does E-learning offer?</h1>
            <h3 style=" font-size: 20px;">E-learning offers a diverse range of courses, including Java Full Stack Development, Software Testing,
                AWS and more. Details can be found in our comprehensive course catalog.</h3><br>

            <h1 style=" font-size: 20px;">2) How are classes conducted?</h1>
            <h3 style=" font-size: 20px;">Classes are conducted through a blend of in-person and , ensuring flexibility. We leverage modern
                teaching tools for an engaging and interactive learning experience.</h3><br>

            <h1 style=" font-size: 20px;">3) What sets E-learning apart from other IT training institutes?</h1>
            <h3 style=" font-size: 20px;">E-learning stands out with a comprehensive curriculum, hands-on learning, industry-experienced
                instructors, and a commitment to bridging the gap between theory and practical application.</h3><br>

            <h1 style=" font-size: 20px;">4) Does E-learning provide placement assistance?</h1>
            <h3 style=" font-size: 20px;">Yes, E-learning offers dedicated placement services, guiding graduates to connect with leading IT
                companies and providing resources for successful career transitions.</h3><br>

            <h1 style=" font-size: 20px;">5) What is the duration of the courses?</h1>
            <h3 style=" font-size: 20px;">Course durations vary. Specific details, including duration, are provided on the course pages of our
                website.</h3><br>

            <h1 style=" font-size: 20px;">6) Is financial assistance available for students?</h1>
            <h3 style=" font-size: 20px;">E-learning offers flexible payment options, and in some cases, financial assistance may be available.
                Contact our admissions team for more information.</h3><br>

            <h1 style=" font-size: 20px;">7) Are there opportunities for practical experience?</h1>
            <h3 style=" font-size: 20px;">Yes, our courses include hands-on projects and practical exercises, ensuring students gain real-world
                experience and can apply their skills effectively.</h3><br>

            <h1 style=" font-size: 20px;">8) Can I get a refund if I am not satisfied with the course?</h1>
            <h3 style=" font-size: 20px;">E-learning does not have any refund policy. Students can expect a change in the faculty or batch time
                but no refund.</h3><br>

            <h1 style=" font-size: 20px;">9) Are certifications provided upon course completion?</h1>
            <h3 style=" font-size: 20px;">Yes, E-learning provides certificates upon successful completion of our courses, recognizing your
                achievements and enhancing your professional profile.</h3><br>

            <h1 style=" font-size: 20px;">10) How does E-learning stay updated with industry trends?</h1>
            <h3 style=" font-size: 20px;">E-learning regularly updates its curriculum to align with industry trends. Our instructors stay current
                with evolving technologies, ensuring students learn the latest skills.</h3><br>

            <h1 style=" font-size: 20px;">11) Can I access course materials after completing the program?</h1>
            <h3 style=" font-size: 20px;">Yes, enrolled students typically retain access to course materials, allowing them to review content and
                stay updated on the latest developments in the field.</h3><br>

            <h1 style=" font-size: 20px;">12) Is there ongoing support for alumni after completing a course?</h1>
            <h3 style=" font-size: 20px;">Yes, E-learning provides ongoing support to alumni, including access to updated resources, job placement
                assistance, and opportunities for continued learning through advanced courses.</h3><br>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->