<div class="image-container">
    <img mat-card-image src="../../assets/elearningImgage.jpg" alt="">
    <div class="overlay-text">
        <div class="heading-container">
            <div style="text-align: center;">
                <span style="color: rgb(237,81,194); line-height: 1;">Java Full Stack</span>
            </div>
            <div style="text-align: center;">
                <span style="color: rgb(9, 9,73); line-height: 1;">Development Course in Pune with 100% Placement
                    Assistance</span>
            </div>
        </div>
        <div class="sub-div fade-in ">
            <h4>New Batches start every 10 days</h4>
            <h4>10 Essential Tools covered</h4>
            <h4>No previous programming experience is necessary</h4>
        </div>
    </div>
</div>

<div class="content-holder fade-in  " style="height: 1300px;">
    <div class="row">
        <div class="footer-col" style="margin-left: 70px;">
            <h4>Course Overview:</h4>
            <h5 style="margin-left: 30px;">Embark on a transformative journey into the dynamic realm of Amazon Web Services(AWS) with E-learning. Our AWS is meticulously designed to equip
                you with a holistic skill set, covering both front-end and back-end technologies essential for creating
                robust, end-to-end web applications.</h5>

            <h4>Key Features:</h4>
            <h5 style="margin-left: 30px;">
                <span style="font-weight: bold;">1:Comprehensive Curriculum: </span>
                <p>
                    Delve into a well-structured
                    curriculum that covers front-end technologies like HTML, CSS, JavaScript, and popular frameworks such as
                    React and Angular. Simultaneously, explore back-end technologies including Node.js, Express, and
                    databases like MongoDB.
                </p> 

                <span style="font-weight: bold;">2:Hands-On Projects: </span>
              <p>
                Apply theoretical knowledge in real-world scenarios through hands-on projects. Build interactive and
                responsive web applications, gaining practical experience that enhances your problem-solving abilities.
                <br>
              </p> 
                
              <span style="font-weight: bold;">3:Expert Instructors: </span>
               <p>
                Learn from industry-seasoned instructors who bring a wealth of experience to the classroom. Benefit from
                their insights and guidance as you navigate the intricacies of Full Stack Development.
                
               </p> <br>
                <span style="font-weight: bold;">4:Industry-Relevant Tools:</span>
                <p>
                    Industry-Relevant Tools: Acquire proficiency in using industry-standard tools and technologies such as
                    Git, RESTful APIs, and deployment platforms, ensuring you are well-versed in the tools employed by top
                    tech companies.
                </p>
                <br>
                <span style="font-weight: bold;">5:Collaborative Learning: </span>
               <p>
                Engage in collaborative learning environments, fostering teamwork and communication skills crucial for
                success in professional settings.
               </p>
                <br>
                <span style="font-weight: bold;">6:Job-Oriented Training:</span>
              <p>
                Tailored to meet the demands of the job market, our Full Stack Development course includes practical
                insights into current industry trends and best practices, preparing you for a successful career in web
                development.
              </p> 
            </h5>
        </div>
        <div class="footer-col" style="scroll-behavior:smooth;">
            <img mat-card-image src="../../assets/fullstackimage.jpg" alt="" style="margin-top:3px ;">


            <!-- <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)" style="margin-left:50px;">
                <mat-form-field appearance="outline">
                    <mat-label>Employee Id</mat-label>
                    <input matInput placeholder="Employee Id" name="employeeId" [(ngModel)]="employee.employeeId" disabled>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Employee Name</mat-label>
                    <input matInput placeholder="Employee Name" name="employeeName" [(ngModel)]="employee.employeeName">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Employee password:</mat-label>
                    <input matInput placeholder="Employee password" name="employeePassword" [(ngModel)]="employee.employeePassword">
                    <mat-icon matSuffix>password</mat-icon>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input matInput placeholder="Contact Number" name="employeeContactNumber" [(ngModel)]="employee.employeeContactNumber">
                    <mat-icon matSuffix>call</mat-icon>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address" name="employeeAddress" [(ngModel)]="employee.employeeAddress">
                    <mat-icon matSuffix>apartment</mat-icon>
                </mat-form-field>
    
                <div>
                    <Label>Gender</Label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button [checked]="checkGender('M')" (click)="selectGender('M')" value="M">M</mat-radio-button>
                        <mat-radio-button [checked]="checkGender('F')" (click)="selectGender('F')" value="F">F</mat-radio-button>
                    </mat-radio-group>
                </div><br> -->

            <!-- <mat-form-field appearance="outline" class="mt-2">
                        <mat-label>Employee Skills</mat-label>
                        <input matInput placeholder="Employee Skills" name="employeeSkills" [(ngModel)]="employee.employeeSkills" disabled>
                        <mat-icon matSuffix>menu_book</mat-icon>
                    </mat-form-field> -->

            <!-- <div>
                    <Label>Course Interested In*</Label>
                    <section class="example-section">
                        <mat-checkbox (change)="onSkillsChanges($event)" value="java Full Stack development" class="example-margin" [checked]="checkSkills('Java')">Java Full Stack development</mat-checkbox><br>
                        <mat-checkbox (change)="onSkillsChanges($event)" value="software-testing" class="example-margin" [checked]="checkSkills('Angular')">Software Testing</mat-checkbox><br>
                        <mat-checkbox (change)="onSkillsChanges($event)" value="AWS" class="example-margin" [checked]="checkSkills('AWS')">AWS</mat-checkbox>
                    </section>
                </div>
    
                <mat-divider></mat-divider> 
    
                <div class="text-center mt-3">
                    <button mat-raised-button class="m-2">Clear</button>
                    <button mat-raised-button color="primary" class="m-2">Save</button>
                </div>

                 <mat-form-field appearance="outline">
                    <mat-label>Employee Id</mat-label>
                    <input matInput placeholder="Employee Id" name="employeeId" [(ngModel)]="employee.employeeId" disabled>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
    
    
            </form> -->

            <form class="example-form">
                <!-- <mat-form-field class="example-full-width">
                    <mat-label>Student Id (disabled)</mat-label>
                    <input matInput disabled>
                     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
                </mat-form-field> -->

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>First name</mat-label>
                                <input matInput 
                                ngModel 
                                name="firstname" 
                                id="firstname" 
                                required
                                pattern="[a-zA-Z]*"                
                                placeholder="First Name" class="form-control">
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field></td>

                        <td><mat-form-field class="example-full-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput 
                                ngModel 
                                name="lastname" 
                                id="lastname" 
                                required
                                pattern="[a-zA-Z]*"
                                placeholder="Last Name" class="form-control">
                            </mat-form-field></td>
                    </tr>
                </table>

                <mat-form-field class="example-full-width">
                    <mat-label>Mobile</mat-label>
                    <input 
                    ngModel 
                    name="phone" 
                    id="phone" 
                    required
                    pattern="[0-9]*"
                    placeholder="Mobile" class="form-control">
                    <!-- <span matTextPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput placeholder="999-555-1234">
                    <mat-icon matSuffix>call</mat-icon> -->
                </mat-form-field>

                <mat-form-field  class="example-full-width" >
                    <mat-label>Email</mat-label>
                    <input 
                        ngModel 
                        name="email" 
                        id="email" 
                        required
                        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                        placeholder="Email" class="form-control">
                    </mat-form-field>          

                <!-- <label id="example-radio-group-label">Gender</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="gender">
                    @for (season of seasons; track season) {
                    <mat-radio-button class="example-radio-button" [value]="season">{{season}}</mat-radio-button>
                    }
                </mat-radio-group>
                <div>Your favorite season is: {{favoriteSeason}}</div> -->

                <!-- <label id="example-radio-group-label">Gender:</label>
                <mat-radio-group aria-label="Gender">
                    <mat-radio-button value="M">Male</mat-radio-button>
                    <mat-radio-button value="F">Female</mat-radio-button>
                </mat-radio-group> -->

                <!-- <p>
                    <mat-form-field class="example-full-width">
                        <mat-label>Address</mat-label>
                        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
                        <mat-icon matSuffix>apartment</mat-icon>
                    </mat-form-field> -->
                    <!-- <mat-form-field class="example-full-width">
                    <mat-label>Address 2</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field> 
                </p>-->

                <table class="example-full-width" cellspacing="5">
                    <!-- <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="Ex. San Francisco">
                                <mat-icon matSuffix>city</mat-icon>
                            </mat-form-field></td>
                            </tr>
                            <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="Ex. California">
                            </mat-form-field></td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Postal Code</mat-label>
                                <input matInput #postalCode maxlength="6" placeholder="Ex. 94105" value="">
                                <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                            </mat-form-field></td>
                    </tr> -->
                    
                    <tr>
                        <td>
                          <mat-card-content>
                          <label id="example-radio-group-label">Courses Interested In*:</label><br>
                          <mat-radio-group aria-label="course">
                              <mat-radio-button value="javaFullStack">Java Full Stack Development</mat-radio-button><br>
                              <mat-radio-button value="softwaretesting">Software Testing</mat-radio-button><br>
                              <mat-radio-button value="aws">aws</mat-radio-button>
                          </mat-radio-group>
                        </mat-card-content>

                        </td>
                    </tr>
                    <tr>
                        <td>
                    
                          <!-- <h2 class="example-h2">Courses Interested In*</h2>
                          <section class="example-section">
                            <mat-checkbox class="example-margin">Java Full Stack Development</mat-checkbox>
                            <mat-checkbox class="example-margin" >Software Testing</mat-checkbox>
                            <mat-checkbox class="example-margin" >AWS</mat-checkbox>
                          </section> -->


                        <mat-card-content>
                            <label id="example-radio-group-label">Nearest Branch*:</label><br>
                          <mat-radio-group aria-label="course">
                              <mat-radio-button value="vimannagar">Viman Nagar</mat-radio-button><br>
                              <mat-radio-button value="pimplesaudagar">Pimple Saudagar</mat-radio-button><br>
                              <mat-radio-button value="karveroad">Karve Road</mat-radio-button>
                              <br>
                              <mat-radio-button value="Nigdi/Akurdi">Nigdi/Akurdi</mat-radio-button>

                          </mat-radio-group>
                        </mat-card-content>
                    </td>
                    </tr>
                    
                      <tr style="text-align: center;margin: 20px;">
                        <td>
                            <!-- <button mat-flat-button color="primary">Submit</button>
                            <button mat-flat-button color="primary">Clear</button> -->
                            <button mat-raised-button color="primary" class="m-2" routerLink="/courses">Back</button>
                            <button mat-raised-button class="m-2" type="reset">Clear</button>
                            <!-- <button mat-raised-button color="primary" class="m-2" routerLink="/buyProduct">Buy</button> 
                            -->
                            <button type="button" class="btn btn-light" color="primary"routerLink="/cart"> Buy</button>
                        </td>
                      </tr>                     
                </table>
            </form>
        </div>
    </div>
</div>

<div class="content-holder fade-in ">
    <h4 style="margin-left: 80px;">Course Syllabus:</h4>
    <div class="row">
        <div class="footer-col" style="margin-left: 70px; width: 30%;margin: 10px;margin-left: 30px;">
            <h4>Core Java</h4>
            <ul>
                <li>Object Oriented Programming (OOPS)</li>
                <li>Java Basic Concepts</li>
                <li>Objects and Classes</li>
                <li>Lambda Built-in Functional Interfaces</li>
                <li>Java Files and I/O</li>
                <li>Exception Handling</li>
                <li>Packages</li>
                <li>JDBC</li>
                <li>Threads</li>
                <li>Collection Framework</li>
            </ul>

            <h4>Advanced Java</h4>
            <ul>
                <li>Java MVC Architecture</li>
                <li>Servlets</li>
                <li>Hibernate</li>
                <li>Spring</li>
                <li>JSP</li>
            </ul>

            <h4>SQL</h4>
        </div>
        <div class="footer-col" style="scroll-behavior:smooth;width: 30%;margin: 10px;">
            <h4>Angular</h4>
            <ul>
                <li>HTML Fundamentals

                </li>
                <li>CSS Overview

                </li>
                <li>Introduction to Angular

                </li>
                <li>Components Overview</li>
                <li>Angular Animations

                </li>
                <li>Typescript

                </li>
                <li>Services & Dependency Injection

                </li>
                <li>Template Driven Forms

                </li>
                <li>HttpClient</li>
                <li>Transport Output using Pipes

                </li>
                <li>Components & Databinding

                </li>
                <li>Directives</li>
                <li>Reactive Forms

                </li>
                <li>Changing Pages with Routing

                </li>
                <li>Making HTTP Requests

                </li>
                <li>Angular Modules & Optimizing Apps

                </li>
                <li>Authentication & Route Protection

                </li>
                <li>Unit Testing in Angular Apps

                </li>
            </ul>
            <h4>Full Stack Developer Projects</h4>
        </div>

        <div class="footer-col" style="width: 30%;margin: 10px;">
            <img mat-card-image src="../../assets/fs.jpg" alt="" style="margin-top:50px ;">
        </div>
    </div>

    <div>
        <h4>Tools Covered:</h4>
        <img mat-card-image src="../../assets/icons.jpg" alt="" style="margin-left:180px;">
    </div>
</div>
<app-footer></app-footer>