<div class="container-fluid footer">

    <div class="row">
        <div class="footer-col" style="margin-left: 70px;">
            <div class="example-header-image"></div>
            <h3 style="color: white; font-size: 15px;font-weight: normal;">At E-learning, our mission is to empower individuals through cutting-edge IT education, bridging theory with practical skills. We cultivate innovation, nurture creativity, and prepare our students to thrive in the dynamic IT industry, fostering a globally competitive workforce.</h3>
            <!-- <h4>company</h4>
            <ul>
                <li><a href="aboutUs">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
            </ul> -->  
            <!-- <li><a href="#">order status</a></li>
                <li><a href="#">payment options</a></li> --> 
        </div>
        <div class="footer-col"  style="scroll-behavior:smooth;">
            <h4>Courses</h4>
            <ul>
                <li><a href="/allproducts">Java Full Stack Development</a></li>
                <li><a href="/allproducts">Software Testing</a></li>
                <li><a href="/allproducts">AWS</a></li>
            </ul>
        </div>
    
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links" style="margin-left: 0px;">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                
            </div>
        </div>
    </div>

</div>