
<div>
<div class="image-container">
    <img src="../../assets/elearningImgage.jpg" alt="">
    <div class="overlay-text fade-in">
        <div class="heading-container ">
            <span style="color: rgb(9, 9,73)">Contact</span>
            <span style="color: rgb(237,81,194);">Us</span>
        </div>
            <h2 class="animated-text" style="font-size: 20px; margin: 20px;">Feel free to contact us with any questions or concerns. You can use the contact number or email us directly. We appreciate your interest and look forward to hearing from you.</h2>
      
<!--           
        <div class="container">

            <form action="your-email@domain.com" method="POST">
                <input type="text" id="name" name="name" placeholder="Your Name" required>
                <input type="email" id="email" name="email" placeholder="Your Email" required>
                <input type="text" id="subject" name="subject" placeholder="Subject" required>
                <textarea id="message" name="message" rows="8" placeholder="Your Message" required></textarea>
                <input type="submit" value="Submit">

            </form>

            <hr>

            
        </div>
    </div> -->
    <div class="bottom-div fade-in">
        
            <p>Email: <a href="mailto:your-email@domain.com">elearning@gmail.com</a></p>
            <p>Phone: +91 968-456-7890</p>
            <p>Follow us on social media:</p>
            <ul>
                <li><a href="https://twitter.com/your_twitter" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/your_facebook" target="_blank">Facebook</a></li>
            </ul>
            <p>Support Hours: Monday - Friday, 9:00 AM - 5:00 PM</p>
    </div>
</div>


</div>