<div class=" image-container">
    <img class ="" mat-card-image src="../../assets/elearningImgage.jpg" alt="">
    <div class=" overlay-text">
        <!-- <div class="heading-container "style="word-spacing: 5px; text-align:center">
            <span style="color: rgb(2, 2, 2)">About </span>
            <div style="margin-top: 50px;"> <span style="color: rgb(237,81,194);">E-learning</span></div>
        </div> -->
      <div class="heading-container ">
        <span style="color: rgb( 9, 9,73)">About</span>
        <span style="color: rgb(237,81,194);">Us</span>
    </div>


      <div class="container-fluid footer">
        <div class="row">
            <div class="footer-col animated-text" style="margin-left: 70px;">
     
                <h2 style="text-align: left;color:rgb(53, 5, 5);font-size: 20px;">
                    Welcome to E-learning, a distinguished IT Training Institute in Pune committed to shaping the future of technology professionals. With a passion for empowering individuals with the skills demanded by the ever-evolving IT landscape, E-learning stands as a beacon of excellence in the heart of Pune.

                    Our Mission: At E-learning, our mission is clear—to provide world-class IT education and skill development that transforms individuals into industry-ready professionals. We believe in bridging the gap between theoretical knowledge and practical application, ensuring our students not only grasp the fundamentals but can also apply them in real-world scenarios.
                </h2>
          </div>
    
          <div class="footer-col"  style="scroll-behavior: smooth;">
                <img mat-card-image src="../../assets/about.jpg" alt="" style="margin-top: 50px;opacity: 1;height: 100%;">
          </div>          
         </div>
        </div>
    </div>
</div>  
<!-- <app-footer></app-footer> -->